{% extends "base.html" %}


{% block content %}
<form>
    <section class="signup-section">
        <div class="signup-container">
            <h1>Log in</h1>
            <form id="contactForm">
                {{ form.hidden_tag() }}
                <div class="form-ct">
                    <label for="email">{{ form.email.label }}</label>
                    {{ form.email }} 
                </div>             
                <div class="form-ct">
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password }}
                </div>
                {{ form.submit(class="submit") }}           
            </form>
        </div>
    </section>
</form>

{% endblock %}