{% extends "base.html" %}
{% block content %}
        <section class="signup-section">
            <div class="signup-container">
                <h1>Register - ADMINKA</h1>
                <form id="contactForm" method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-ct">
                        <label for="firstName"> {{ form.firstName.label }}</label>
                        {{ form.firstName }}                 
                    </div>
                    <div class="form-ct">
                        <label for="lastName">{{ form.lastName.label }}</label>
                        {{ form.lastName }}
                    </div>
                    <div class="form-ct">
                        <label for="email">{{ form.email.label }}</label>
                        {{ form.email }} 
                    </div>             
                    <div class="form-ct">
                        <label for="password">{{ form.password.label }}</label>
                        {{ form.password }}
                    </div>
                    <div class="form-ct">
                        <label for="confPass">{{ form.confirm_password.label }}</label>
                        {{ form.confirm_password }}        
                    </div>
                    {{ form.submit(class="submit") }}  
                </form>
            </div>
        </section>
{% endblock %}